<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Миссия колонизация Марса</h1>
    <h4>И на Марсе будут яблони цвести!</h4>
    {% if list_type == 'ul' %}
        <ul>
            {% for item in prof_list["professions"] %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
    {% elif list_type == 'ol' %}
        <ol>
            {% for item in prof_list["professions"] %}
                <li>{{item}}</li>
            {% endfor %}
        </ol>
    {% else %}
        <h3>Нету таких значий, если бы не автор, то все сломалось</h3>
    {% endif %}
</body>
</html>